
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #252525;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar{
    background: #414141;
    /*margin-top: -250px;*/
    height: 100px;
    width: 100%;
    position: fixed
}

.name{
    padding: 21px 0 21px 21px;
    color: #f6f4e6;
}

.navMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #AF0404;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #AF0404   ;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(175px);
  transform: translateX(175px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(290px);
  transform: translateX(290px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

header {
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
.mainHeader::before {
	content: "  ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 27.5em;
	width: 100%;
  height: 550px;
	/*height: calc(var(--heading-height) + 10em);*/
	z-index: -1;
	transform: skewY(-3.5deg);
	background-color: #3b3636;
  background-image: url("https://images.wallpapersden.com/image/download/small-memory_am1pa2aUmZqaraWkpJRmbmdlrWZlbWU.jpg");
	background-size: cover;
	border-bottom: .2em solid #f6f4e6;
}

.mainHeader h1 {
	font-size: calc(1.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 16rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #f6f4e6;
}

.projHeader::before {
	content: "  ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 27.5em;
	width: 100%;
  height: 550px;
	/*height: calc(var(--heading-height) + 10em);*/
	z-index: -1;
	transform: skewY(-3.5deg);
	background-color: #3b3636;
  background-image: url("https://images.wallpapersden.com/image/download/small-memory_am1pa2aUmZqaraWkpJRmbmdlrWZlbWU.jpg");
	background-size: cover;
	border-bottom: .2em solid #f6f4e6;
}

.projHeader h1 {
	font-size: calc(1.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 16rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #f6f4e6;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	color: #f6f4e6;
}

.projects_1 {
    background-color: rgba(255, 166, 0, 0);
    height: 750px;
    /*margin: 7% 4% 7% 4%;*/
    margin: 225px 75px 0px 75px;
    display: flex;
}

.projects_2 {
  background-color: rgba(255, 166, 0, 0);
  height: 750px;
  /*margin: 7% 4% 7% 4%;*/
  margin: 2px 75px 75px 75px;
  display: flex;
}

.proj_1 {
  background:#3b3636;
  flex-basis: 600px;
  /*height: 100px;*/
  margin: 5px;
  padding: 10px;
}

.proj_1 a{
  color: rgb(255, 255, 255);
  padding-left: 42.5%;
}

.proj_img{
  width: 540px;
  height: 540px;
  object-fit: cover;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.projectDesc{
  margin: 225px 100px 100px 100px;
  height: 450px;
  background-color: #3b3636;
}

.projectDescPic{
  margin-right: 1150px;
  padding-bottom: 431.5px;
  background-image: url("https://cds.mnm.be/sites/default/files/styles/800x600_focus/public/article/2021_04/schermafbeelding_2021-04-14_om_17.18.16.png?itok=XbsEVmCa");
  background-color: blue;
}
