html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(255, 0, 255);
}

.header {
    background-color: #00ffb3;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.header-nav {
    background-color: rgb(0, 128, 0);
    display: flex;
    margin: -125px 52px 0 1100px;
    text-decoration: none;
    color: white;
}

.nav-p {
    background-color: rgb(0, 45, 128);
    padding: 25px;
    margin: 1px;
    color: white;
    text-decoration: none;
}

.name{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 10px;
}
